
fieldset{
width: 700px;

}
legend{
font-size: 20px;
font-weight:bold;
}

label.field{
text-align: right;
width: 200px;
float: left;
font-weight:bold;
}
input.textbox-300{
width:300px;
float: left;
}
fieldset p{
clear:both;
padding:5px;
}

